<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/static/spa.css"/>
</head>
<body>
  <div id="container"></div>
  <script type="text/javascript" src="/static/spa.js" charset="utf-8"></script>
</body>
</html>
